.buttons-showcase {
  .btn{
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.btn-flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8rem auto;
  pointer-events: none;
}

.btn-block-container {
  width: 340px;
  max-width: 100%;
  margin: 8rem auto;
  pointer-events: none;

  &.border-box {
    border-radius: 8px;
    border: 2px solid #E6EBF0;
  }
}