@import "~@gcba/obelisco/src/scss/obelisco.scss";
@import "~boxicons/css/boxicons.min.css";
@import "~material-icons/iconfont/round.css";

$sidebar-min-height: 100vh;
$logo-max-width: spaceUnits(60);

$container-space-y: spaceUnits(16);
$container-space-x: 0;

$section-space-bottom: spaceUnits(12);

$separation-border: 1px solid $border-color;

$do-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" style="fill:rgb(38, 135, 74);transform:;-ms-filter:"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29 5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>');

$dont-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" style="fill:rgb(201, 59, 59);transform:;-ms-filter:"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z"/></svg>');

aside {
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background: $grisulado-10;
    z-index: -1;
    box-sizing: content-box;
    right: -3rem;
    left: 0;

    @include media-breakpoint-up(md) {
      left: initial;
    }
  }

  > div {
    padding: $container-space-y / 2 $container-space-x 0;
  }

  img {
    max-width: $logo-max-width;
    margin-bottom: spaceUnits(3);
    padding: 0 spaceUnits(4);
  }

  .nav-first-level > .nav-link {
    font-size: 1.125rem;
  }

  @include media-breakpoint-up(md) {
    min-height: $sidebar-min-height;

    > div {
      padding: $container-space-y $container-space-x;
    }

    img {
      margin-bottom: spaceUnits(8);
    }
  }
}

.container {
  padding: 0 spaceUnits(4);
}

main {
  padding: $container-space-y $container-space-x;

  header {
    margin-bottom: $section-space-bottom;
  }

  .contents {
    margin-bottom: $section-space-bottom;

    .contents-title {
      @extend h4;
      padding-bottom: spaceUnits(2);
      border-bottom: 2px solid $border-color;
    }
    ul li {
      margin-top: spaceUnits(2);
    }
  }

  .img-fluid {
    display: inline-block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.313rem;
  }

  .d-grid {
    display: grid;
  }

  article {
    margin-bottom: $section-space-bottom;

    @for $i from 2 to 6 {
      > h#{$i} {
        margin-top: spaceUnits(16 - $i * 2);
        margin-bottom: spaceUnits(4);
      }
    }

    h1,
    h2 {
      word-break: break-word;
    }

    .row [class^="col"] {
      margin-top: 2.5rem;

      h3,
      h4 {
        margin-top: 0;
      }
    }

    .row.reverse-mobile {
      @media screen and (max-width: 752px) {
        flex-direction: column-reverse;
      }
    }

    .card {
      margin-bottom: $section-space-bottom / 2;
    }

    hr {
      margin-top: $section-space-bottom;
      margin-bottom: $section-space-bottom;
    }

    .content-do,
    .content-dont {
      float: left;
      margin-right: spaceUnits(1);
      vertical-align: text-bottom;
      font-size: 1.4rem;
    }

    .custom-block {
      &.do,
      &.dont {
        margin-bottom: spaceUnits(4);
        display: flex;
        align-items: flex-start;
        gap: spaceUnits(2);

        &::before {
          height: 1.5rem;
        }

        &.do::before {
          content: $do-icon;
        }

        &.dont::before {
          content: $dont-icon;
        }
      }

      &.source {
        font-size: $font-size-sm;
        color: $text-muted;
        margin-top: $section-space-bottom;
        padding-top: $section-space-bottom;
        border-top: $separation-border;
      }
    }

    table.table {
      margin-bottom: spaceUnits(8);

      tr td img {
        max-width: 90px;
        display: block;
      }
    }
  }

  footer {
    .footer-container {
      padding: spaceUnits(6) 0 spaceUnits(4);
      margin-bottom: spaceUnits(6);
      border-bottom: $separation-border;
    }

    i {
      font-size: 1.4rem;
      vertical-align: text-bottom;
      margin-right: spaceUnits(1);
    }

    small.text-secondary {
      display: block;
      line-height: 1rem;
    }
  }
}

%box-icon {
  font-family: "boxicons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === Example component === */

.docs-example {
  background-color: $grisulado-10;
  border-radius: $border-radius-container;
  padding: spaceUnits(6) spaceUnits(8);

  &.transparent {
    background-color: transparent;
  }

  > * {
    margin: spaceUnits(2) 0;
  }

  .row {
    justify-content: center;
    [class^="col"] {
      margin-top: 0;
    }
  }

  .modal {
    position: relative;
    display: block;
  }
}

/* === Color component === */

.docs-color {
  border-radius: $border-radius;
  border: 1px solid $grisulado-50;
  overflow: hidden;

  .docs-color-bg {
    height: spaceUnits(20);
    padding: spaceUnits(3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid $grisulado-50;
  }

  .docs-color-name {
    margin: spaceUnits(2) spaceUnits(3) 0;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .docs-color-description {
    margin: 0 spaceUnits(3);
    font-size: 0.7rem;
  }

  .docs-color-specs {
    margin: spaceUnits(2) spaceUnits(3);
    padding-top: spaceUnits(2);
    border-top: 1px solid $grisulado-50;
    line-height: 100%;

    &.no-description {
      padding-top: 0;
      border-top: none;
    }

    dt,
    dd {
      display: inline-block;
      margin: 0;
      box-sizing: border-box;
      font-size: 0.7rem;
    }

    dt {
      width: 30%;
      font-weight: 600;
    }

    dd {
      width: 70%;
      text-align: right;
    }
  }

  &.docs-color-light .docs-color-bg {
    color: $white;
  }
}

/* === Component Containers === */

.content-1 {
  width: 526px;
  margin: 5rem auto;
  pointer-events: none;
}

.content-2 {
  width: 340px;
  margin: 5rem auto;
  pointer-events: none;
}

.content-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto;
  pointer-events: none;
}

.content-4 {
  width: 100%;
  margin: 5rem auto;
  pointer-events: none;
}

.content-bg {
  @extend .docs-example;
  border: 2px solid $grisulado-100;
  padding: 3.75rem 5.5rem;
  @media screen and (max-width: 592px) {
    padding: 3.75rem 1rem;
  }
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  gap: 1rem;
}

.access-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3.75rem;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  div {
    width: 100%;
    pointer-events: none;

    @media screen and (max-width: 992px) {
      width: 340px;
    }

    h3 {
      margin: 1rem 0;
    }
  }
}

.alert-wrapper {
  width: 100%;
  margin: 5rem 0;
}

.buttons-showcase {
  .btn {
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.opciones-box {
  width: 100%;
  height: 250px;
  margin: 8rem auto;
  pointer-events: none;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  gap: 2rem;
}

.paso-a-paso-box {
  width: 100%;
  margin: 8rem auto;
  pointer-events: none;
}

.button-container {
  @extend .content-3;
  margin: 3.75rem auto;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;

  &.btn-block-container {
    max-width: 340px;
  }

  &.btn-size-container {
    justify-content: space-between;
    @media screen and (max-width: 592px) {
      justify-content: center;
    }
  }

  &:has(.modal) {
    margin: 0.75rem auto;
  }

  .modal-content {
    box-shadow: 0 0 0 2px $grisulado-50;
  }
}

.content-row {
  @extend .content-column;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  @media screen and (max-width: 592px) {
    gap: 1rem;
  }
}

.spinner-sizes-container {
  @extend .docs-example;
  @extend .content-row;
  gap: 7rem;
  flex-wrap: wrap;
  padding: 3.125rem 0;
  @media screen and (max-width: 592px) {
    gap: 2rem;
  }
}

.spinner-block-container {
  width: 4rem;
}
